.card-list-container {
  width: 100vw;
}

.card-list-box {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.card-list {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
