.search-container {
  height: 100px;
  width: 100vw;
}

.search-box {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.search {
  width: 500px;
  height: 60px;
  background: #d1e9d4d0;
  border-radius: 0;
  box-shadow: 0 0 25px 0 #d1e9d4b4;
  border: transparent;
  padding: 1rem;
  transition: 0.3s ease-out;
  outline: none;
}

.search:hover {
  background: #afceb3d0;
  transition: 0.2s ease-in;
}

button.search-button {
  width: 60px;
  height: 60px;
  background-color: #91c397;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

.search-icon {
  width: 42px;
  height: 42px;
  filter: brightness(0) invert(1);
}
