@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap");

html {
  overflow-x: hidden;
  margin: 0;
}

body {
  margin: 0;
  color: black;
  background-color: #fafffa;
}

h1 {
  font-size: 2rem;
  font-family: "Krona One", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
}
