@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;400;500&display=swap");

html {
  overflow-x: hidden;
  margin: 0;
}

body {
  margin: 0;
  color: black;
  background-color: #f6fff7;
}

h1 {
  font-size: 3rem;
  font-family: "Krona One", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
